<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuxin.springboot.dao.ReservationDao">
	<resultMap id="BaseResultMap" type="com.yuxin.springboot.entity.Reservation">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="status" property="status" />
	</resultMap>

	<parameterMap id="Reservation" type="com.yuxin.springboot.entity.Reservation"/>

	<sql id="Base_Column_List">
		id, name, status
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from reservation
		where id = #{id}
	</select>

	<select id="findAllReservation" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from city
	</select>

	<insert id="save" parameterMap="Reservation" useGeneratedKeys="true" keyProperty="id">
		insert into
			reservation(id, name, status)
		values
			(#{id},#{name},#{status})
	</insert>

	<update id="update" parameterMap="Reservation">
		update
			reservation
		set
		<if test="id!=null">
			id = #{id},
		</if>
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="status!=null">
			status = #{status}
		</if>
		where
			id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		delete from
			reservation
		where
			id = #{id}
	</delete>
</mapper>